name: Python CI/CD Pipeline

on:
  push:
  pull_request:

jobs:
  ci:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - run: |
          python -m pip install --upgrade pip
          pip install pytest

      - run: python app.py

      - run: python -m pytest

  deploy_prod:
    needs: ci
    runs-on: ubuntu-latest
    environment: production
    steps:
      - run: |
          echo "Deploying to PRODUCTION"
          python app.py
